language = "c++"
run="""
    mkdir cmake-build-release \
    && cmake \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_C_COMPILER=/usr/bin/gcc \
        -DCMAKE_CXX_COMPILER=/usr/bin/g++ \
        -S . \
        -B cmake-build \
    && cmake --build cmake-build-release \
    && cmake-build-release/output.exe
"""
