language = "cpp"
run="""
    mkdir -p cmake-build-release \
    && cd cmake-build-release \
    && cmake \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_C_COMPILER=/usr/bin/gcc \
        -DCMAKE_CXX_COMPILER=/usr/bin/g++ \
        .. \
    && cmake --build . \
    && ./output
"""
